@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

form {
    background-color: #DAA520;
    display: flex;
    flex-flow: column;
    padding: 60px;
    border-radius: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:smaller;
    border:  3px solid #B8860B;
;
}

input {
    width: 90%;
    height: 20px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
}

textarea {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
}

button {
    background: #000000;
    color: #ffffff;
    padding: 15px 10px;
    border-radius: 8px;
    border:  none;
}

button:hover{
    background: rgb(50, 50, 50);
}